@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.woff2') format('woff2'),
        url('../fonts/RobotoSlab-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    font-family: "Arial", serif;
}

.wrapper {
    margin: 0 auto;
    max-width: 960px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -14px;
}

.column {
    margin: 1.25%;
    width: 22.5%;
    min-width: 219px;
    box-sizing: border-box;
}

header {
    border-radius: 0;
    border-bottom: 1px solid #cdcddd;
}

.header {
    padding: 15px 0;
    background-color: #1f1f56;
}


.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 -12px;
}

.nav ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.nav li {
    display: inline-block;
    margin: 0 12px;
}

.top-menu a {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #b1b1d2;
    text-decoration: none;
}

.top-menu a:hover {
    color: #fd8300;
}

.social a {
    display: block;
    background: url(../photo/sprite.png) no-repeat;
    transition: all 1s ease;
}

a.fb {
    width: 10px;
    height: 19px;
    background-position: 0 0;
}

a.fb:hover {
    background-position: 0 -27px;
}

a.tw {
    width: 18px;
    height: 15px;
    background-position: -13px 0;
}

a.tw:hover {
    background-position: -12px -30px;
}

a.in {
    width: 19px;
    height: 19px;
    background-position: -34px 0;
}

a.in:hover {
    background-position: -34px -26px;
}

.telephone a {
    font-size: 18px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    text-decoration: none;
}

.stick {
    position: relative;
}

.stick:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 51px;
    background-color: #e4e4ec;
    right: -18px;
    top: 20px;
}

.mail a {
    font-size: 16px;
    line-height: 24px;
    color: #25252c;
}

.skype a {
    font-size: 16px;
    line-height: 24px;
    color: #25252c;
    text-decoration: none;
}

.telephone,
.emails {
    padding-left: 47px;
}


.telephone a,
.emails a {
    position: relative;
}

.telephone a:before,
.emails a:before {
    content: "";
    position: absolute;
    left: -30px;
    top: 2px;
    background: url(../photo/sprite.png) no-repeat;
}

a.tel:before {
    width: 16px;
    height: 17px;
    background-position: -98px -28px;
}

.mail a:before {
    width: 17px;
    height: 13px;
    background-position: -77px -32px;
}

.skype a:before {
    width: 18px;
    height: 19px;
    background-position: -56px -26px;
}

.cta {
    text-align: right;

}

.cta a {
    padding: 15px 27px;
    font-size: 16px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    text-decoration: none;
    background-color: #fff;
    border-radius: 25px;
    border: 2px solid #fd8300;
}

.cta a:hover {
    color: #fff;
    background-color: #fd8300;
}

.img {
    padding: 45px 0 30px;
    width: 100%;
    color: #fff;
    background-image: url(../photo/Rectangle\ 9.png);
    text-align: center;
    background-size: cover;
}

.img p {
    margin: 5px;
}

.title {
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #fff;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.subtitle {
    font-size: 14px;
    line-height: 24px;
}

p.price {
    margin: 10px 0;
}

.price strong {
    font-size: 40px;
    line-height: 24px;
    color: #fd8300;
    font-weight: bold;

}

.price {
    font-size: 24px;
    color: #fd8300;
    font-weight: bold;
    font-style: normal;
}

.price sup {
    font-size: 0.5em;
}

.main {
    display: flex;
    justify-content: space-between;
    padding: 37px 0;
}

.main-pace {
    padding: 37px 0;
}

.content {
    max-width: 670px;
    padding-bottom: 34px;
    border-radius: 0;
    border-bottom: 1px solid #cdcddd;
}

.discription {
    max-width: 960px;
    padding-bottom: 34px;
    border-radius: 0;
    border-bottom: 1px solid #cdcddd;
}

.content h1 {
    font-size: 30px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.discription h1 {
    padding-bottom: 15px;
    font-size: 24px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.discription p {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    color: #666;
}

.content p {
    color: #666;
    font-size: 14px;
    line-height: 24px;
}

table {
    margin: 20px 0;
    width: 960px;
    border-collapse: collapse;
    font-size: 14px;
    line-height: 24px;

}

th {
    padding: 12px 20px;
    color: #fff;
    font-weight: 700;
    text-align: left;
    font-family: "Roboto Slab";
    background-color: #1f1f56;
}

th:first-child {
    border-radius: 3px 0 0 0;
}

th:last-child {
    border-radius: 0 3px 0 0;
}

th:last-child,
td:last-child {
    text-align: right;
}

tbody {
    border-radius: 3px;
    background-color: #e4e4ec;
}

tbody tr:not(:last-child) {
    border-bottom: 1px solid #cdcddd;
}

tr {
    color: #666;
    font-size: 14px;
    line-height: 24px;
}

td {
    padding: 9px 20px;

}


.discription a {
    font-size: 14px;
    line-height: 24px;
    color: #fd8300;
    font-weight: bold;
    text-decoration: none;
}

.content a {
    font-size: 14px;
    line-height: 24px;
    color: #fd8300;
    font-weight: bold;
    text-decoration: none;

}

.discription a:hover {
    text-decoration: underline;
}

.content a:hover {
    text-decoration: underline;
}

tr:last-child>td:first-child {
    border-radius: 0 0 0 3px;
}

tr:last-child>td:last-child {
    border-radius: 0 0 3px 0;
}

tr:hover {
    color: #fff;
    background-color: #fd8300;
}

.more{
    padding-top: 24px;
}

section h2 {
    font-size: 24px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.figure h3 {
    margin: 0;

}

.column figcaption {
    position: relative;
}

.figure h3 {
    font-size: 14px;
    line-height: 24px;
    color: #1f1f56;
    font-weight: bold;
    text-decoration: none;
}

.column figcaption a {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.figure a:hover~h3 {
    text-decoration: underline;
}

.figure p {
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
}

.aside {
    width: 219px;

}

.aside p {
    margin: 0;
    padding: 13px 16px;
    background-color: #1f1f56;
    border-radius: 3px 3px 0 0;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700;
}


.menu {
    margin: 0;
    padding-left: 0;
    background-color: #e4e4ec;
}

.menu li {
    list-style: none;
}


.menu>li+li {
    border-radius: 0;
    border-top: 1px solid #cdcddd;
}

.menu>li:hover>a {

    color: #fff;
    background-color: #fd8300;
}

.menu a {
    display: block;
    padding: 11px 15px;
    color: #25252c;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
}

.menu>li>a {
    position: relative;
}

.menu>li>a::before {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    border-bottom: 2px solid #666;
    border-right: 2px solid #666;
    right: 15px;
    top: 17px;
    transform: rotate(-45deg);
    transition: transform .3s ease;
}

.menu>li:hover>a:before {
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}


.menu-list a {
    color: #666;
    padding-left: 30px;
}

.menu-list {
    display: none;
    padding: 0;
}

.menu>li:hover>.menu-list {
    display: block;
}

.menu-list a:hover {

    background-color: #cecedd;
}

.menu:last-child {
    border-radius: 0 0 3px 3px;
}

.menu>li:last-child:hover>a {
    border-radius: 0 0 3px 3px;
}

footer {
    width: 100%;
    background-color: #ededf5;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.footer>.telephone {
    padding: 0;
}

.footer nav {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-ul {
    padding-left: 0;
    list-style: none;
}

.footer-ul a {
    font-size: 14px;
    line-height: 26px;
    color: #666666;
    text-decoration: none;
}

.footer-ul a:hover {
    text-decoration: underline;
    color: #fd8300;
}


.footer-copy {
    background-color: #dcdce6;
}

.footer-copy p {
    margin: 0;
    padding: 15px;
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    text-align: center;
}